body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    }

* {
    box-sizing: border-box;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}




/* <!-- heder --> */

.page-header{
    border-bottom: 1px solid #e7e9fc;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /*margin-right: 76px;*/
    padding: 17px 0;
}

.partlogo-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.partlogo-studio:hover{
    color: #404bbf;
}
.partlogo-studio:focus{
    color: #404bbf;
}
.menu {
    align-items: center;
    display: flex;
}

.menu-nav {
    display: none;
    /*gap: 40px;
    flex-grow: 1;*/
}

/*.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/*.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}
*/

.address{
    /*font-style: normal;
    margin-left: auto;*/
    display: none;
}
/*
.menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
*/
/*.address-link {
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
color: #404bbf;
}
*/
.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}









.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
        pointer-events: none;
        visibility: hidden;
}

.menu-cloce-btn {
    margin-left: auto;
    margin-bottom: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address{
    margin-bottom: 48px;
}

.mob-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.current {position: relative;
    color: #404bbf;
}

.mob-icon-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mob-icon-social {
    display: block;
    width: 40px;
    height: 40px;
}

.mob-icon {
display: flex;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.mob-icon:hover,
.mob-icon:focus{
    background-color: #404bbf;
}

.icon-social {
    fill: #f4f4fd;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        
    }
    .menu-nav {
        display: flex;
        gap: 40px;
    }
    .open-menu-btn{
        display: none;
    }
    .address{
        display: block;
    }
    .logo{
        margin-right: 120px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link:hover {
        color: #404bbf;
    }
        
    .nav-link:focus {
        color: #404bbf;
    }
        
    .current {
        position: relative;
        color: #404bbf;
    }
        
    .current::after {
        content: "";
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
        .address-link {
            color: #434455;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.04em;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-link:hover,
        .address-link:focus {
            color: #404bbf;
        }
.address {
    font-style: normal;
    margin-left: auto;
    
}
.menu-address {
    display: block;
    flex-direction: column;
    gap: 12px;
}

}

@media screen and (min-width: 1158px){
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
    .logo{
        margin-right: 76px;
    }
    .menu-address{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .address-link{
        font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }
}



/* <!-- Sektion-1 --> */



.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin-bottom: 72px;
}

.section-hero {
    display: flex;
    box-sizing: content-box;
    /*padding: 188px 0;
    max-width: 1440px;*/
    padding: 72px 52px;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), 
(min-resolution: 2dppx){
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob-2x.jpg);
}
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #2e2f42;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px){
.hero-title{
    font-size: 56px;
    line-height: 1.08;
    margin-bottom: 36px;
}
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/Dark-bg-tab.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab-2x.jpg);
    }
}

}



@media screen and (min-width: 1158px){
.section-hero{
    padding: 188px 0;
    max-width: 1440px;
}

.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}


}

/* <!-- Sektion-2 --> */

.section-benefits{
    padding: 120px 0
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.benefits-menu {
    display: flex;
    flex-direction: column;
    gap: 72px;
    /*gap: 24px;*/
    
}

.benefits-item{
    /*width: calc((100% - 72px) / 4);*/

}

.benefits-list-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list-tekst{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-benefits {
    display: none;
    /*align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;*/
}

@media  screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            padding-left: 16px;
            padding-right: 16px;
        }
        .benefits-menu {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 72px 24px;
            
        }
    
        .benefits-item {
            width: calc((100% - 24px) / 2);
        }
    .benefits-list-title{
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .icon-benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    }
    .benefits-menu{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
        .benefits-item {
            width: calc((100% - 72px) / 4);
        }
    

/* <!-- Sektion-3--> */




.section-team {
    display: flex;
    max-width: 100%;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.sections-list-title{
    text-align: center;
margin-bottom: 8px;
}

.sections-list-text{
    text-align: center;
    margin-bottom: 8px;
}

.team-content{
    padding: 32px 0;
}

.team-list-item{
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-icon-list{
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}

.team-icon{
    display: flex;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.team-icon:hover,
.team-icon:focus {
    background-color: #404bbf;
}

.icon{
    fill: #f4f4fd;
}

.team-icon-social{
    display: block;
    width: 40px;
    height: 40px;
}

.icon-social {
    fill: #f4f4fd;
}



.team-list {
    display: flex;

    flex-direction: row;
    gap: 24px;
    gap: 72px;
}






/* <!-- Sektion-4--> */

.portfolio {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-content{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.section-portfolio-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.sections-list-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.sections-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sections-text:hover{
transform: translateY(0%);
}

.portfolio-item{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap{
   
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}
.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}









.footer {

    background: #2e2f42;
    max-width: 100%;
    height: 312px;
    padding: 100px 0;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.partlogo-studio-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-content {
margin-right: 120px;
}

.footer-social{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;   
margin-bottom: 16px;
}

.soc-media{
    display: flex;
    align-items: baseline;
}

.footer-text-social{
    font-family: "Roboto",
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    
}

.footer-icon-social{
    width: 40px;
    height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer{
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-icon:hover {
background-color: #31d0aa;
}

.footer-icon:focus {
    background-color: #31d0aa;
}

.icon-social{
    fill: #f4f4fd;
}


.form-input{
    margin-left: 80px;
    width: 453px;
    height: 80px;
}

.form-text{
    font-family: "Roboto",
sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.e-mail-input{
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: inherit;
    padding: 8px 16px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}


.e-mail-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color #ffffff;

}


.e-mail-label{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
}


.footer-button{ font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    min-width: 165px;
    margin: 0 auto;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.button-svg{
    margin-left: 16px;
fill: #fff;
}





.backdrop{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close{
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:focus,
.modal-close:hover
{
background-color: #404bbf;
border: none;
fill: #ffffff;

}

.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
border-color: #4d5ae5;
}

.modal-input:focus 
+ .modal-icon{
    fill: #4D5AE5;
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon{
position: absolute;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap{
    position: relative;
}

.modal-text{
width: 100%;
height: 120px;
resize: none;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-text:focus{
border-color: #4D5AE5;
}

.box-comment{
    margin-bottom: 16px;

}
.modal-field{
font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 8px;
    
}

.modal-field-wrap{
    margin-bottom: 24px;

}


.icon-checkbox{
    fill: #f4f4fd;
}

.form-input-checbox{
    margin-top: 16px;  
}


.form-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.modal-check:checked + .form-label span{
background-color:#404bbf;
border: none;
fill: #F4F4FD;
}

.span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.link-polisy{
    line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.butoton-send{
display: block;
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
border-radius: 4px;
}
.butoton-send:hover,
.butoton-send:focus{
background-color: #404BBF;
}


.modal-open{
    opacity: 1;
    pointer-events: auto;
}





